/* tradelist.css */

.trades-container {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}

.page-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 16px;
}

.trade-list {
  list-style-type: none;
  padding: 0;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: left;
}

.trade-list-item {
  background-color: #f7fafc;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
}

.no-trades-message {
  margin-top: 16px;
  font-style: italic;
  color: #999999;
  text-align: center;
}

.trades-container .trade-list-item:hover {
  background-color: lightgrey;
}